<link href="{{"mermaid/mermaid.css" | relURL}}" type="text/css" rel="stylesheet"/>
<script defer src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js">
  mermaid.initialize({startOnLoad:true});
  mermaid.sequenceConfig = {
    diagramMarginX: 0,
    diagramMarginY: 0,
    boxTextMargin: 0,
    noteMargin: 10,
    messageMargin: 35,
    mirrorActors: true
  };
</script>
<div class="mermaid" align="{{ if .Get "align" }}{{ .Get "align" }}{{ else }}center{{ end }}" >{{ safeHTML .Inner  }}</div>